<!DOCTYPE html>
<html>
  <%= @article.title %>
  <%= @article.content %>
  <!-- Delete Article  -->
  <form method="POST" action="/articles">
    
    <input type="delete">
    <input type="submit">
    
  </form>
</html>